@import "tailwindcss";

@layer base {
  :root {
    --primary: 160 84% 39%; /* Emerald */
    --text-primary: 0 0% 100%;
    --text-secondary: 0 0% 63%;
    --bg-main: 0 0% 0%;
  }
}

.text-primary-custom {
  color: hsl(var(--primary));
}

.bg-primary-custom {
  background-color: hsl(var(--primary));
}